#section{
    display: block;
    border: solid 2px black;
    text-align: center;
    background-color: rgb(211, 150, 37);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#body{
    border: solid 2px black;
    margin: 2rem auto;
    width: 50%;
  
}
.body-items{
    margin: 2rem ;
}
a{
    border: solid 5px rgb(211, 150, 37);
    background-color: black;
    color: white;
    border-radius: 25px;
}