body{
    background-color:rgb(90, 88, 88);
}


#contianer{
    text-align: center;
    display: block;
    border: solid 5px black;
    margin: 2rem auto;
    width: 70%;
    background-color: white;
    border-radius: 10px;
}
h1{
    background-color: rgb(190, 145, 62);
    color: white;
}
#section{
    margin: 2rem auto;
}
img{
    margin: 3rem auto;
    height: 50vh;
    width: 54vw;
}
#part1{
    /* border: solid 2px black; */
   
    margin: auto;
}
#part2{
    /* border: solid 2px black; */
    width: 70%;
    margin: auto;
}
#part3{
    /* border: solid 2px black; */
    width: 70%;
    margin: auto;
}


p{
    border: solid 5px rgb(224, 165, 54);
    border-radius: 20px;
}
#nav{
    display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   /* margin: 2rem auto; */
   grid-gap: 2rem;
   border: 3px solid #dd7732;
   align-items: center;
   justify-items: center;
   font-size: 2rem;
}

.logo img{
    display: block;
    max-height: 10%;
    max-width: 50%;
}

.menu ul{
    display: flex;
    /* position: relative; */
    /* margin: auto; */
    padding: 10px 10px;
    

   
}
.menu-items{
    list-style-type: none;
    /* margin: auto; */
}
.menu-items:hover{
   text-decoration:underline;
    /* margin: auto; */
}
.menu-items:visited{
    text-decoration: underline;
    color: rgb(202, 202, 124);
}

.menu-items a{
    text-decoration: none;
    color: black;
    /* margin: auto; */
    
    margin-right: 3rem;
}
.social{
    display: flex;
    border: solid  5px rgb(224, 165, 54) ;
    width: 50%;
    margin: auto;
}
.social a{
    margin: auto auto;
}
.social img{
   height: 2rem;
   width: 2rem;
}