#contianer{
    text-align: center;
    display: block;
    border: solid 2px black;
    margin: 2rem auto;
    width: 70%;
}
h1{
    background-color: rgb(190, 145, 62);
    color: white;
}
#section{
    margin: 2rem auto;
}
img{
    margin: 3rem auto;
    height: 50vh;
    width: 54vw;
}
#part1{
    /* border: solid 2px black; */
   
    margin: auto;
}
#part2{
    /* border: solid 2px black; */
    width: 70%;
    margin: auto;
}
#part3{
    /* border: solid 2px black; */
    width: 70%;
    margin: auto;
}


p{
    border: solid 5px rgb(224, 165, 54);
    border-radius: 20px;
}